<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appData.name %></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

    <style>
        #map { 
            height: 400px;
            width: 600px;
        }
    </style>
</head>
<body>
    <h1>Welcome to <%= appData.name %></h1>
    <ul>
        <li><a href="about">About</a></li>
        <li><a href="users/register">Register</a></li>
        <li><a href="users/login">Login</a></li>
        <li><a href="patient/dashboard">Dashboard</a></li>
    </ul>

    <h1>Address</h1>
    <p>8 Lewisham Way, London SE14 6NW</p>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script>
        // Initialise the map
        var map = L.map('map').setView([51.474144,-0.035375], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // Add a marker
        var marker = L.marker([51.474144,-0.035375]).addTo(map);
    </script>
</body>
</html>