<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appData.name %></title>
</head>
<body>
    <h1>Sign In to <%= appData.name %></h1>
    <h3>Patient:</h3>
    <form method="POST" action="login_patient">
        <p>Email: <input id="email" type="email" name="email" /></p>
        <p>Password: <input id="password" type="text" name="password" /></p>
        <input type="submit" value="Login" />
    </form>
    <h3>Staff: </h3>
    <form method="POST" action="login_staff">
        <p>Email: <input id="email" type="email" name="email" /></p>
        <p>Password: <input id="password" type="text" name="password" /></p>
        <input type="submit" value="Login" />
    </form>
</body>
</html>